*, *::before, *::after {
    box-sizing: border-box;
  }  
    
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: lightslategray;
  }

  .reset-button, .view-highscores {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
  
  .score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  html {
    font-size: 18px;
  }

  header {
    padding: 80px;
    text-align: center;
    background: #093145;
    color: #fff;
    border-bottom: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
  }

  .container {
    display: block;
    margin: 80px auto;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    width: 60vw;
    background-color: lightslategray;
    padding-top: 20px;
  }
    
  h1 {
    font-size: 35px;
  }
   
  #start {
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(34,36,38,.15) 3px 0 0 4px inset;
    color: #093145;
    cursor: pointer;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding: 20px 52px;
    letter-spacing: 0.21px;
    line-height: 16px;
    margin-top: 0.6em;
    max-width: 255px;
    position: relative;      
    text-align: center;     
  }
  
  #start {
    background-color: #fff;
  }

  #start:hover {
    border: 3px solid lightslategray;
    color: lightslategray;
  }

  #View-Highscores {
    position: relative; left: 250px;
  }

  #Reset-Score {
    position: relative; left: 30px; top: 40px; 
    margin-top: 20px;
    padding-bottom: 50px;
    line-height: 20px;    
  }

  button {
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(34,36,38,.15) 3px 0 0 4px inset;
    color: #093145;
    cursor: pointer;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 20px 22px;
    letter-spacing: 0.21px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0.6em;
    margin: auto;
    max-width: 255px;
    position: relative; left: 80px;
    display: inline;  
    text-align: center;  
  }

  button:hover {
    border: 3px solid lightslategray;
    color: lightslategray;
  }

  button {
    background-color: #fff;
  }

  .quiz-question {
    width: 55vw;
    height: 400px;
  }

  #question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}

#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid #093145;
    border-radius: 3px;
    cursor: pointer;
    padding : 5px;
}

.choice:hover{
    border : 2px solid lightslategray;
    font-weight: bold;
}
  
.results {
  width: 30vw;
  height: 400px;
}

.card {
  background: lightslategray;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
}

.timer {
  height: 200px;
  padding: 50px;
  background: #fff;
  color: #093145;
  text-align: center;
  position: relative; top: 150px; right: 220px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 42px;
 
}

.large-font {
  font-size: 2.5em;
  text-align:center;
  position: relative; left: 60px;
}

.timer-text {
  padding: 15px;
  position: relative; bottom: 30px;
  line-height: 30px; 
}


@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }


  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
    
  }

  .timer {
    height: 200px;
  }
 