
 body {
   font-size: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: cadetblue;
 }

 #quiz {
   text-align: center;  
 }

#quizBody {
  text-align: center;
  padding: 12vh;
}

#question {
  font-size: 25px;
  font-weight: bold;
}
.button{
  font-size: 16px;
  background-color: lightslategray;
  border-radius: 4px;
  padding: 10px 16px 10px 16px;
  border: none;
  text-align: center;
  cursor: pointer;
  position: absolute; 
  color: black;
  font-weight: bold;
  margin: 4px; 
  display: inline;
}

button:hover {
  transition-duration: 0.4s;
  background-color: black;
  color: lightslategray;
}

h1{
  font-family: sans-serif;
  margin-top: -.5rem;
  text-align: center;
  line-height: 80px;
  
 font-size: 35px;
 
}

.large-font{
  text-align: center;
  font-size: 50px;
  line-height: 135px;
}

#questions {
  width: 500px;
  height: 125px;
  position: absolute;
  right: 0;
  top: 0;
}

#questions p{
  margin: 0;
  padding: 15px;
  font-size: 30px;
  color:black;
}

#choices {
  width:100px;
  position: relative;
  right: 0;
  top: 125px;
  padding: 10px;
  display: inline;
  width: auto;
  height: auto;
  text-align: center;
  color: black; 
  border-radius: 5px;
  cursor: pointer;  
}



#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: left;
  right: 850px;
  top: 850px;
}

footer {
  text-align: center;
  font-size: 35px;
}

#HS {
  text-align: left; top: 600px;

}

#start {
  width: 200px;
  height: 50px;
  position: relative;
  flex-direction: row;
  justify-content: center;
  color: black;
  background-color: lightslategrey;
  cursor: pointer;
}

#start:hover {
  transition-duration: 0.4s;
  background-color: black;
  color: lightslategray;
}

#HS {
  width: 200px;
  height: 50px;
  text-align: center;
}